{% extends 'base.html' %}
<!-- {%load static%}
<link rel="stylesheet" href="{%static 'css/style.css'%}"> -->

{% block content %}
<!-- {%load static%}
<link rel="stylesheet" href="{%static 'css/style.css'%}"> -->
<style>
  .container {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
  }

  .container ul {
    background: radial-gradient(circle, #022705, #0C3F0F);
    /* padding: 34px 19px; */
    /* margin: 14px 19px; */
    border-radius: 6vh;
    width: 93vh;
    height: 67vh;
    font-family: Verdana;
    color: white;
  }

  .submit-button {
    margin-left: 14vh;
    font-size: 4.5vh;
    font-weight: bold;
    border-radius: 6vh;
    border-width: 0.65vh;
    margin-top: 5vh;
    padding: 2vh 17vh;
    background: transparent;
    border-color: white;
    color: white;
  }

  .submit-button:hover {
    background-color: rgb(116, 212, 116);
  }

  .submit-button2 {
    margin-left: 14vh;
    font-size: 4.5vh;
    font-weight: bold;
    border:none;
    border-radius: 6vh;
    margin-top: 5vh;
    padding: 2vh 17vh;
    background: transparent;
    background-color: white;
    color: #022705;
  }

  .submit-button2:hover {
    background-color: rgb(116, 212, 116);
  }
</style>
</head>

<body>
  <!-- """SECURE VOTING CARD""" -->
  <div style="padding-top: 6vh;" class="container">
    <ul>

      <h3 style="
      padding-left: 14vh; 
        font-size: 6vh; 
        font-weight: 900; 
        padding-top: 20px; 
        padding-bottom: 0px; 
        text-align: left;">

        Secure Voting

      </h3>
      <i class="fa-sharp fa-regular fa-square-check fa-sm" style="color: #ffffff;
        margin-left: 62vh;
        position: relative;
        top: -9vh;
        font-size:500%;">
      </i>

      <p style="word-spacing: 0.8vh; 
        line-height: 4vh; 
        text-align:left; 
        font-size: 3vh; 
        padding-left: 14vh; 
        margin-top: -10vh;">

        End-to-end encrypted <br>
        voting process that makes <br>
        sure of a safe and secure <br>
        vote.

      </p>
      <button type="submit" class="submit-button">
        <a href="{% url 'voting' %}" style="color:white">Vote Now</a>
      </button>
    </ul>
  </div>

  <!-- GET DAILY UPDATES CARD -->
  <div style="padding-left: 102vh; 
  margin-top: -10vh;" class="container">
    <ul>
      <img style="margin-left: 47vh; margin-top:10vh; width: 90px; height: 90px; position: relative;"
        src="{% static 'img/info-icon2.png' %}" alt="Image description">
      <h3 style="padding-left: 15vh; 
        font-size: 6vh; 
        font-weight: 900; 
        margin-top: -11vh; 
        text-align: left;
        line-height: 5vh;">

        Get Daily <br> Updates

      </h3>
      <p style="word-spacing: 0.8vh; 
        line-height: 4vh; 
        text-align:left; 
        font-size: 3vh; 
        padding-left: 15vh; margin-top: -4vh;">
        Get daily updates<br>
        regarding political or<br>
        national emergencies<br>
        around the clock.<br></p>
      <button style="margin-top: -1vh;" type="submit"
        class="submit-button2">Updates</button>
    </ul>
  </div>

  <!-- FILE A COMPLAINT CARD -->
  <div style="margin-top: -8vh;" class="container">
    <ul>
      <img style="margin-left: 50vh; margin-top:10vh; width: 90px; height: 90px; position: relative;"
        src="{% static 'img/icon3.png' %}" alt="Image description">
      <h3 style="padding-left: 14vh; 
        font-size: 6vh; 
        font-weight: 900; 
        margin-top: -11vh;  
        text-align: left;
        line-height: 5vh;">

        File A <br> Complaint

      </h3>

      <p style="word-spacing: 0.8vh; 
        line-height: 4vh; 
        text-align:left; 
        font-size: 3vh; 
        padding-left: 14vh; 
        margin-top: -4vh;">

        File a complaint or issue <br>
        regarding a problem in the <br>
        city or disorderly conduct <br>
        by a government officer</p>
      <button style="margin-top: -1vh; padding: 2vh 15vh;" type="submit" class="submit-button">Complaint</button>
    </ul>
  </div>

  <!-- IMPORTANT CONTACTS CARD -->
  <div style="padding-left: 102vh; 
  margin-top: -10vh;" class="container">
    <ul>
      <img style="margin-left: 53vh; margin-top:10vh; width: 90px; height: 90px; position: relative;"
        src="{% static 'img/icon4.png' %}" alt="Image description">
      <h3 style="padding-left: 15vh; 
        font-size: 6vh; 
        font-weight: 900; 
        margin-top: -10vh; 
        text-align: left;
        line-height: 5vh;">

        Important <br> Contacts

      </h3>

      <p style="word-spacing: 0.8vh; 
        line-height: 4vh; 
        text-align:left; 
        font-size: 3vh; 
        padding-left: 15vh; margin-top: -4vh;">

        Be able to access important<br>
        and emergency contacts all<br>
        in one place.</p>
      <button type="submit"
        class="submit-button2">Contacts</button>
    </ul>
  </div>
</body>


{% endblock content %}