{% extends 'base.html' %}

{% block content %}
{% load static %}
<style>
    .container {
        box-sizing: border-box;
        margin: 0;
        padding: 0px;
    }

    .container ul {
        background: white;
        border-radius: 23px;
        width: 1200px;
        height: 100vh;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        margin-left: 700px;
        margin-top: -676px;
    }

    .form-field {
        margin-left: 200px;
        margin-top: -4px;
        font-size: 25px;
        border-radius: 10px;
        padding: 5px;
        border: 2px solid #022705;
        background-color: transparent;
        display: inline-block;
        width: 50%;
        height: 50px;
    }

    .form-label {
        color: #022705;
        margin-left: 200px;
        display: block;
        margin-top: 20px;
        font-size: 30px;
    }

    .error-message {
        color: red;
        margin-left: 200px;
    }

    .submit-button {
        margin-left: 200px;
        margin-top: 20px;
        font-size: 30px;
        font-weight: bold;
        border: none;
        border-radius: 15px;
        padding: 20px 200px;
        background-color: #022705;
        color: white;
    }

    .title {
        color: white;
        font-size: 70px; 
        font-family: Calibri;
        margin-top: -20px;
        font-weight: bold;
        word-spacing: 0.2em;
        margin-left: 50px;
    }

    .createAcc{
        color: #053908; 
        margin-top: 150px;
        margin-left: 200px;
        font-size: 70px;
    }
</style>
<body style="background: linear-gradient(to right, #022705, #0C3F0F);">
    <p class="title">
        The Pakistan <br>
        Citizens Portal<br></p>
    <img style="margin-left: 50px;  width: 400px; height: 400px;" src="{% static 'img/faisal-mosque.png' %}" alt="Image description">
<div class="container">
<ul>
    <h2 class="createAcc">
        Create Account
    </h2>
    <form method="post">{% csrf_token %}
        {% for field in registration_form %}
        <div>
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label_tag }}</label>
            <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" value="{{ field.value|default:'' }}"
                {% if field.field.required %}required{% endif %} class="form-field">
            {% for error in field.errors %}
            <p class="error-message">{{ error }}</p>
            {% endfor %}
        </div>
        {% endfor %}
        <button type="submit" class="submit-button">Create Account</button>
    </form>
</ul> 
</div>
</body>

{% endblock content %}
